Card/.idea
Tools/**/bin/
Tools/**/obj/
Server/**/bin/
Server/**/obj/
Server/.vs/
Server/.idea/
Server/**/TestResults/
Server/**/artifacts/
Server/**/publish/
Config/~$*
TempConfig/
Card/Assets/WebGLTemplates
Card/Assets/WX-WASM-SDK-V2
Card/Assets/WebGLTemplates.meta
Card/Assets/WX-WASM-SDK-V2.meta
Temp
